body{
	font-family: 'Crimson Text', serif;
}
h1 {float: right;
	margin-right: 35%;
	margin-left: 30%;
	width: 25%
	position: fixed;
    	overflow: auto;
    	background-image: url("pics/back1.png");
	background-size: 100%;
    }
#words{
	float: left;
	margin-left: 25%;
	margin-top: 1%;
	border: solid 1px blue;
}
#words1{
	float: left;
	margin-left: 25%;
	margin-top: 1%;
	width: 35%;
	border: solid 1px blue;
}
#words2 {float:right;
width: 35%}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: solid 1px lightblue;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
#current {
	background-color: lightblue;
}

h2 {
	float: left;
		margin-left: 25%;
		margin-top: 5%;
		margin-right: 40%;
	border: solid 1px blue;
}

img {
	float: left;
	margin-left: 25%;
	margin-top:5%;
	}

#imageLeft {float: left;
		margin: 0%;}